/* ------------------------------ Default Mobile Design ------------------------------ */

/* -------------------- 
    Variables
---------------------*/
:root {
    /* Primary colors */
    --clr-prim-blue: hsl(177, 68%, 64%);
    --clr-prim-orange: hsl(12, 94%, 65%);
    --clr-prim-yellow: hsl(33, 100%, 70%);

    /* Secondary colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(244, 23%, 12%);

    /* Fonts */
    --ff-primary: 'IBM Plex Sans', sans-serif;
}
/* -------------------- 
    Global Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
    font-size: 18px;
    color: var(--clr-prim-sblue);
    font-weight: 300;
    background-color: var(--clr-bgmain-db);
}
header {
    padding: 40px 24px 64px 24px;
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
footer {
    margin-left: 24px;
    margin-right: 24px;
}
nav {
    margin-bottom: 3rem;
}
nav img {
    margin-right: 0.75rem;
}
nav img:hover{
    color: var(--clr-prim-orange);
}
/* -------------------- 
    Class Styles
---------------------*/
/* bg image main section */
.bg-main-image {
    background-image: url("assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position: 0rem -14rem;
}

/* intro section */
.intro {
    margin-left: 24px;
    margin-right: 24px;
}
.intro p {
    line-height: 1.75;
}

/* cards section */
.cards {
    width: 100%;
}
.container {
    display: grid;
}
.container img {
    width: 100%;
}
/* app-card section */
.app-card {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.app-card img {
    width: 50%;
}
/* pattern-card section */
.pattern-card {
    background-color: var(--clr-black);
    padding: 0px 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -18rem;
}
/* sales-card section */
.sales-card {
    background-color: var(--clr-prim-orange);
    color: var(--clr-white);
    padding: 50px;
    border-radius: 15px;
    margin-top: -3rem;
}
.sales-card h2 {
    margin-bottom: 12px;
}
.sales-card p {
    margin-bottom: 30px;
    line-height: 1.5;
}
.sales-card div {
    display: flex;
    align-items: center;
}
.sales-card span {
    font-size: 3rem;
    font-weight: 700;
    margin-right: 15px;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.85rem;
}
.buttons button:first-child {
    background-color: var(--clr-black);
    color: var(--clr-white);
    margin-bottom: 1rem;
}
.buttons img {
    width: 1rem;
    margin-right: 0.50rem;
}
/* footer section */
.logo {
    margin: 3rem 0 2rem 0;
}
.rights-reserved p {
    line-height: 1.5;
    margin-bottom: 3rem;
}
.rights-reserved span {
    font-weight: 700;
}
.challenge a {
    text-decoration: none;
    color: var(--clr-black);
    font-weight: 700;
}

/* ------------------------------ Tablet Design ------------------------------ */
@media screen and (min-width: 700px) {
    /* -------------------- 
        Global Styles
    ---------------------*/
    /* -------------------- 
        Class Styles
    ---------------------*/
}